*.o
*.lo
*.pyc
*~
.deps
.dirstamp
__pycache__
src/.deps
src/Makefile
src/Makefile.in
src/aclocal.m4
src/autom4te.cache
src/config.log
src/config.status
src/configure
src/dfxml_demo
src/install-sh
src/missing

.DS_Store
_deps
src/config.h
src/config.h.in
src/iblkfind.cpp
stamp-h
stamp-h1
src/compile
src/iblkfind
