
*.lo
*.o
*.pyc
*~
.DS_Store
.cache
.deps
.dirstamp
__pycache__
_deps
python/demo.dfxml
schema
src/.deps
src/Makefile
src/Makefile.in
src/aclocal.m4
src/autom4te.cache
src/compile
src/config.h
src/config.h.in
src/config.log
src/config.status
src/configure
src/dfxml_demo
src/iblkfind
src/iblkfind.cpp
src/install-sh
src/missing
stamp-h
stamp-h1
src/compile
src/iblkfind
python/demo.dfxml
.cache
.pytest_cache

demo.dfxml
